* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  color: #2b283a;
}

header {
  min-width: 550px;
  height: 55px;
  color: #fff;
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

header > img {
  width: 24px;
  height: 24px;
  margin-right: 7px;
}

header > h1 {
  font-family: Inter;
  font-weight: 500;
  font-size: 0.9rem;
}

article.journal-entry {
  height: 170px;
  display: flex;
  padding-inline: 40px;
  margin-bottom: 36px;
}

.main-entry-image {
  width: 125px;
  height: 168px;
  overflow: hidden;
  margin-right: 20px;
  border-radius: 5px;
  flex-shrink: 0;
}

.entry-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.marker-map-icon {
  width: 14px;
  height: 20px;
  margin-right: 5px;
}

.country-name {
  margin-right: 12px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 1rem;
}

a {
  font-weight: 400;
  font-size: 0.688rem;
  color: #918e9b;
}

.landscape-name {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 18px;
}

.date {
  font-weight: 700;
  font-size: 0.75rem;
  margin-bottom: 10px;
}

.description {
  font-weight: 400;
  font-size: 0.75rem;
}
